*{
    padding: 0%;
    margin: 0%;
    font-family: Arial; 
}

#datum{
    display: flex;
    justify-content: right;
    font-size: large; 
    font-weight: 550; 
    min-width: 30%;
}

#abfahrt{
    text-align: center; 
    margin-top: 0; 
    color: rgb(13, 122, 172);
    min-width: 70%;
}

#allgemein{
    margin-right: 50px; 
    width: 100px; 
    margin-left: 10px;
}

#informationstext{
    margin-top: 30px;
}

#fahrplan{
    margin: 30px;
}
    
#tabelle{
    display: flex;
    margin-top: 30px;
    min-height: 80vh;
    max-height: 80vh;
}

#ort{
    color: rgb(13, 122, 172);
    margin-left: 3%;
    margin-bottom: 10px;
    font-weight: bold;
}

#wetterart{
    margin: 10px;
    font-weight: bold;
}

.wetterdaten{
    font-weight: bold;
}

.rand{
    border: 3px solid black; 
    border-color: rgb(13, 122, 172);
    border-radius: 18px;
    margin-left: 3%;
    margin-bottom: 15px;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
   }

.bilder{
    height: 30px;
    margin-bottom: 10px;
}

.wetter{
    padding: 10px;
    border-radius: 18px;
    margin-left: 3%;
    background-image: url("");
    background-size: 100%;
}

.flex{
    display: flex;
}

@media screen and (min-width: 1480px){
    .table, table-striped{
        max-width: 65%;
        min-width: 65%;
        vertical-align: middle;
    } 
}
@media screen and (max-width: 1481px){
    .table, table-striped{
        max-width: 60%;
        min-width: 60%;
        vertical-align: middle;
    } 
}
