*{
    padding: 0%;
    margin: 0%;
    font-family: Arial; 
}

#fahrplan{
    margin: 2%;
}

#datum{
    display: flex;
    justify-content: right;
    font-size: large; 
    font-weight: 550;
    min-width: 35%;
}

#abfahrt{
    text-align: center; 
    margin-top: 0; 
    color: rgb(13, 122, 172);
    min-width: 65%;
}

#allgemein{ 
    height: 65px; 
    align-items: center;
}

#allgemeinMg{
    height: 65px; 
    align-items: center;
}

#informationstext{
    margin-top: 30px;
}

#tabelle{
    display: flex;
    margin-top: 30px;
    min-height: 80vh;
    max-height: 80vh;
}

.ort{
    color: rgb(13, 122, 172);
    margin-bottom: 10px;
    margin-left: 3%;
    font-weight: bold;
}

.zentriert{
    justify-content: center;
    display: flex;
    margin-top: 8px;
}

#wetterart{
    margin: 10px;
    font-weight: bold;
}

#wetterartMg{
    margin: 10px;
    font-weight: bold;
}

.hintergrund{
    background-image: url("./Wetter/hintergrund.png");
    border-radius: 18px;
    padding: 10px;
    margin-top: 10px;
}

.wetterdaten{
    font-weight: bold;
}

.rand{
    border: 3px solid black; 
    border-color: rgb(13, 122, 172);
    border-radius: 18px;
    margin-left: 3%;
    margin-bottom: 15px;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
   }

.bilder{
    height: 25px;
}

.wetter{
    padding: 10px;
    border-radius: 18px;
    background-image: url("");
    background-size: 110%;
}

.wetterAlgemein{
    margin-left: 3%;
}

.wetterMg{
    padding: 10px;
    border-radius: 18px;
    background-image: url("");
    background-size: 110%;
}

.flex{
    display: flex;
}

.bus{
    font-weight: bold;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 1480px){
    .table, table-striped{
        max-width: 65%;
        min-width: 65%;
    }

}
@media screen and (max-width: 1481px){
    .table, table-striped{
        max-width: 60%;
        min-width: 60%;
    } 
}
